node_modules
.next
*.mp3
*.mp4
*.pdf
*.jpg
*.png
*.zip
*.apk
Eitaa/
Shad/
downloaded_rom/
.env.local
.env*
*.flac
*.pptx
*.attachment
attachment
browser_m3u/
tsconfig.tsbuildinfo
*.backup
*.backup2

# Personal / temporary files
*.flac
*.pptx
*.attachment
attachment
browser_m3u/
tsconfig.tsbuildinfo
*.backup
*.backup2
Arena*
ss6f3538
